* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
	border: 0;
}

body {
	background-color: #010101;
	color: #fff;
}

.App {
	display: flex;
	width: 100%;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.App > form {
	background-color: #222;
	padding: 32px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-shadow: 0 0 16px #ffffff33;
}

.App > form > h1 {
	color: #d0d0d0;
	margin-bottom: 16px;
}

.App > form > input {
	width: 100%;
	margin-bottom: 8px;
	background-color: #111;
	border-radius: 4px;
	padding: 12px;
	color: #d0d0d0;
	font-size: 18px;
}

.App > form > button {
	margin-top: 16px;
	background-color: #2574ba;
	padding: 12px;
	width: 100%;
	border-radius: 4px;
	font-size: 18px;
	color: #d0d0d0;
}
